table{
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

tr{
    text-align: center;
    vertical-align: center;
}

th{
    background-color: #CCFFCC;
    font-family: verdana, Arial, Helvetica;
    font-size: 14px;
    font-style: normal;
}

td{
    background-color: #cccccc;
    color: #000000;
    font-family: "Comic Sans MS";
    font-size: 12px;
    font-style: normal;
}